* {
  box-sizing: border-box;
  border: thin solid black;
}

.celda {
  width: 33.33333%;
  float: left; /* también con display: inline;  */
  height: 100%;

}
html, body {
  margin: 0;
  height: 100%;
}

.fila {
  height: 33.33333%;
}
